.Header {
    width: 100vw;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    .logo { 
        width: 25vw;
        height: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-mid {
        width: 50vw;
        height: 100%;
        background-color: rgb(22, 68, 10);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-panel {
        width: 25vw;
        height: 100%;
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


