.section-bf3 {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.384);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-community {
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-competetive {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home {
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-tips {
  width: 100%;
  height: 100%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-vu {
  width: 100%;
  height: 100%;
  background-color: rgb(1, 155, 134);
  display: flex;
  justify-content: center;
  align-items: center;
}
